html{
    height: 100%;
}

body {
    height: 100%;
}

.flex{
    display: flex;
    justify-content: center;
    
}

#container{
  height:100%;
  width: 100%;
  align-items: center; /* Can be changed in the live sample */
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.key{
    width: 5%;
    margin-left: 2%;
    border: 2px black solid;
    text-align: center;
    cursor: pointer;
}

.press{
    box-shadow: 0 0 20px goldenrod;
}
